PORT=1350

DB_URL="SUAS_CREDENCIAIS_AQUI"
DB_URL_TEST=mongodb://localhost:1000/vitrine

URL_LOGIN_LOCAL=http://localhost:3000/login

MAIL_API_KEY="SUAS_CREDENCIAIS_AQUI"

NODE_ENV=development

SCALAR_PROD_URL="URL_DE_PRODUÇÃO"
SCALAR_DEV_URL="http://localhost:1350"

JWT_ACCESS_TOKEN_EXPIRATION='15m'
JWT_SECRET_ACCESS_TOKEN='vitrine'
JWT_SECRET_REFRESH_TOKEN='vitrine'
JWT_REFRESH_TOKEN_EXPIRATION='7d'

CLOUDINARY_CLOUD_NAME="SUAS_CREDENCIAIS_AQUI"
CLOUDINARY_API_KEY="SUAS_CREDENCIAIS_AQUI"
CLOUDINARY_API_SECRET="SUAS_CREDENCIAIS_AQUI"
